body {
    margin: 0;
    padding: 0;
    background-image: url('ruaa.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
}

.sessao {
    padding: 10px;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a {
    color: white;
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

.container {
    width: 30%; 
    margin: 100px auto; 
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.534); 
    padding: 20px;
    border-radius: 10px;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.582);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8); }

h1 {
    font-size: 36px;
}