body {
 
    background-image: url('3090612_2079.jpg');
    background-size: flex;
    background-size: 1900px 1000px;
    background-repeat: no-repeat;
}
.text{
    color: rgb(255, 254, 254);
    align-items: center;
    height: 100px; 
    margin: auto; 
    width: 100px; 
    font-size: 30px;
    display: contents;
    text-align: center; 
    line-height: 100px; 
}

.retangulo {
    background-color: rgb(119, 126, 230); 
    width: 260px; 
    height: 160px; 
    text-align: center;
    line-height: 90px; 
    margin: 0 auto; 
    border-radius: 40px; 
    position: relative; 
}

.play-game {
    color: rgb(250, 250, 250); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 24px; 
    position: relative; 
    top: -10px; 
}

.triangulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px; 
    height: 40px; 
    text-align: center; 
}

.triangulo p {
    color: white; 
    font-size: 70px; 
    margin: 0; 
}

