:root{
    --carta-cor: #8080801f;
}

main {
    margin: auto;
    width: 90%;
    height: 100vh;
    overflow: hidden;
}

#cartas-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    background-color: var(--carta-cor);
    box-shadow: 0px 2px 5px;
}

.carta img{
    height: 100%;
    pointer-events: none;
}

.carta p{
    font-size: 1.4em;
    text-align: center;
    font-stretch: expanded;

    pointer-events: none;
    object-fit: contain;
}

.carta-baixo{
    animation: 1s girar-carta-baixo;
}

.carta-baixo > *{
    animation: 1s carta-ocultar-conteudo;
}

.carta-cima{
    animation: 1s girar-carta-cima;
}

.carta-cima > *{
    animation: 1s carta-mostrar-conteudo;
}

@media (min-width: 560px) {
    .carta{
        width: 10%;
    }
}

@keyframes girar-carta-cima {
    to {
        transform: rotateY(180deg) scaleX(-1);
    }
}
@keyframes girar-carta-baixo {
    to {
        transform: rotateY(180deg) scaleX(-1);
    }
}
@keyframes carta-ocultar-conteudo {
    from{
        display: block;
    }
    25%, to {
        display: none;
    }
}
@keyframes carta-mostrar-conteudo {
    from, 25%{
        display: none;
    }
    to {
        display: block;
    }
}