h1{
    font-size: 1em;
}

.selecao{
    display: flex;
    width: 100%;
}
/* 
input[name="seletores"]{
    display: none;
} */

.selecao__seletor{
    grid-area: "seletor";
    position: relative;
    display: flex;
    align-items: center;

    padding: 1em;
    
    background-color: var(--amarelo);
}

input[name="seletores"]{
    display: none;
}

.subpagina{
    display: none;
    width: 100%;
}

#seletor1:checked ~ section #conteudo1,
#seletor2:checked ~ section #conteudo2,
#seletor3:checked ~ section #conteudo3,
#seletor4:checked ~ section #conteudo4{
    display: block;
}