.painel-bem-vindo{
    background: url("../../img/imagem.jpg") no-repeat;
    width: 100%;
    aspect-ratio: 4 / 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 6vh 4vw;
    object-fit: cover;
    background-size: 100%;
    background-position: left 0 center;
    color: var(--branco-texto);
}

.painel-bem-vindo h1,
.painel-bem-vindo h2{
    position: relative;
    z-index: 0;
}

.painel-bem-vindo h1{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: .5rem;
}

.painel-bem-vindo h2{
    font-weight: 100;
    font-size: 1.5rem;
}

.corpo h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.projetos{
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    display: grid;
    flex-wrap: wrap;
    gap: 2rem;
}

.projetos-card p{
    text-align: justify;
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: 60px;
    margin-bottom: .5rem;
}

.projetos-card img{
    object-fit: cover;
    width: 100%;
}

@media (min-width: 1100px) {

}