:root{
    --header-altura: calc(38px + 2vw);
}

body{
    overflow-x: hidden;
}

.fixador{
    display: block;
    position: sticky;
    width: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--gradiente-azul);
    color: var(--branco);
    height: var(--header-altura);

    font-family: Arial, Helvetica, sans-serif;
}

.icone{
    display: block;

    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
    aspect-ratio: 1 / 1;
}

.header__menu__rotulo{
    display: block;

    aspect-ratio: 1 / 1;
    height: 100%;
}

.header__icone-menu{
    background-image: url('../img/icones/menu_icone.svg');
}

.header__menu-hamburger{
    display: none;
    
    position: absolute;
    color: white;
    background-color: var(--azul-claro);
    font-size: 1em;
    width: 60%;
    min-width: max-content;
    
    top: 100%;
    z-index: -1;
    
    animation-name: anim-hide-to-up;
    animation-duration: 0.5s;
}

.header__menu-hamburger__item{
    text-decoration: none;
    display: block;
    color: var(--branco-texto);
    
    padding: 0.2em;
    font-size: 1.5em;
    padding-right: 1em;
    text-transform: uppercase;

    border-radius: 8px;
}

.header__menu{
    display: flex;
    font-size: .8em;
}

.header__menu__botoes{
    display: flex;
}

.header__botao{
    width: 100%;
    padding: 0 1em 0 1em;
    font-weight: 100;
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    align-content: center;
}

.header__botao-desta-pagina{
    box-sizing: border-box;
    background-color: var(--azul-claro);
    border-bottom: 4px solid var(--branco);
    padding-top: 4px;
}

.header__botao hr {
    position: relative;
    top: 0;
    left: 0;
}

.header__direita{
    display: flex;
    align-items: center;
}

.header__usuario{
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 0.3em;
}

.header__usuario img{
    height: 80%;
}

/* Hover*/
.header__botao:hover, .header__icone-menu:hover{
    background-color: var(--azul-claro);
}

.header__menu-hamburger__item:hover{
    background-color: var(--azul-extra-claro);
}

/*Ocultar menus*/

.menu__container, .header__menu-usuario,
.header__menu-hamburger-botao, .header__menu-usuario-botao {
    display: none;
}

/*Exibir menus*/
.header__menu-hamburger-botao:checked ~ .header__menu-hamburger{
    display: block;
    
    animation-name: anim-go-dowm;
    animation-duration: 0.5s;
}

.header__menu-usuario-botao:checked ~ .header__menu-usuario{
    display: flex;
    
    animation-name: anim-go-left;
    animation-duration: 0.5s;
}

/*Reaçar botões quando ativos*/

.header__menu-hamburger-botao:checked ~ .header__menu__rotulo{
    background-color: var(--azul-extra-claro);
}


/* Painel do usuario*/

.header__menu-usuario{
    position: absolute;
    background: var(--azul-claro);

    flex-direction: column;
    justify-content: space-between;

    padding: 1em;

    top: 0%;
    right: 0%;
    width: 30%;
    min-width: calc(300px + 1em);
    height: calc(100vh - var(--header-altura) - 2em);

    top: 100%;
    z-index: -1;

    animation-name: anim-hide-to-right;
    animation-duration: 0.5s;
}

.botao-logout{
    background-color: transparent;
    color:var(--branco);
    border: 1px solid white;
    height: 3em;
    padding: .1em;
    gap: .5em;

    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-logout__icone{
    background-image: url('../img/icones/logout_icone.svg');
}

@media screen and (max-width: 352px) {
    .logo{
        display: none;
    }
}

@media only screen and (max-width: 852px) {
    .menu__container{
        display: block;
    }
    .header__botao{
        display: none;
    }
}
/* Animations */
@keyframes anim-go-dowm {
    from { top: -200%;}
    to { top: 100%;}
}
@keyframes anim-hide-to-up {
    from { top: 100%; display: block;}
    to { top: -200%;}
}

/* Animations */
@keyframes anim-go-left {
    from { right: -100%;}
    to { right: 0%;}
}
@keyframes anim-hide-to-right {
    from { right: 0%; display: flex;}
    to { right: -100%;}
}